<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="children-solid.svg" type="image/x-icon">
    <link rel="stylesheet" href="./yes_style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yes &#9829; &#9829;</title>

</head>

<body>
    <div class="container">
        <div>
            <h1 class="header_text">Yeeeyyyy <span style="color: red;">&#9829; &#9829;</span></h1>
        </div>
        <div class="gif_container">
            <img src="https://media0.giphy.com/media/T86i6yDyOYz7J6dPhf/giphy.gif" alt="Cute animated illustration">
        </div>
    </div>

</body>

</html>
