body {
    background-color: #212529 !important;
}


@media (min-width: 300px) and (max-width: 1000px) {


    .mot-first-flex-container {
        display: block !important;
        justify-content: center !important;
    }

    .mot-second-flex-container {
        display: block !important;
        justify-content: center !important;
    }


    .mot-third-flex-container {
        display: block !important;
        justify-content: center !important;
    }


    .mot-fourth-flex-container {
        display: block !important;
        justify-content: center !important;
    }

    .mot-Sixth-flex-container {
        display: block !important;
        justify-content: center !important;
    }

    .gym-first-flex-container {
        display: block !important;
        justify-content: center !important;
    }


    .card {
        width: 350px !important;
        height: 600px !important;
    }


}
