body {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100vh !important;
    background-color: #F8C8DC !important;
}

.header_text {
    font-family: 'Nunito !important';
    font-size: 50px !important;
    font-weight: bold !important;
    color: white !important;
    text-align: center !important;
    /* margin-top: 20px !important; */
    margin-bottom: 0px !important;
}

.header_text_2 {
    font-family: 'Nunito !important';
    font-size: 15px !important;
    color: white !important;
    text-align: center !important;
    margin-top: 20px !important;
    margin-bottom: 0px !important;
}

.gif_container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    max-height: 350px !important;
}
